.project-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.project-btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
}

.project-btn:hover {
  opacity: 0.8;
}

.spinner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
